<%- include ../common/header.ejs %>
<%- include ../common/navigation.ejs %>
<div class="container top-margin">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/forum//backend/user/settings.html" class="list-group-item">Information</a>
                <a href="/forum//backend/user/password.html" class="list-group-item active">Password</a>
                <a href="/forum//backend/user/avatar.html" class="list-group-item">Avatar</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading text-left">
                    Modify password
                </div>
                <div class="panel-body" id="info-panel">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" required class="form-control" style="border: 1px solid #eee;" id="password1" />
                                <input type="hidden" value="<%= userId %>" id="userId" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Confirm Password</label>
                            <div class="col-sm-9">
                                <input type="password" required class="form-control" style="border: 1px solid #eee;" id="password2" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <span id="pwd-modify-btn" class="btn btn-primary">Modify</span>
                                <span id="error-tips" class="text-danger"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ../common/commonjs.ejs %>
<script src="/javascripts/user.js"></script>
<%- include ../common/footer.ejs %>