<%- include ../common/header.ejs %>
<%- include ../common/navigation.ejs %>
<div class="container top-margin">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/forum//backend/user/settings.html" class="list-group-item">Information</a>
                <a href="/forum//backend/user/password.html" class="list-group-item ">Password</a>
                <a href="/forum//backend/user/avatar.html" class="list-group-item active">Avatar</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading text-left">
                    Modify avatar
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" name='avatarForm' enctype="multipart/form-data" action="/forum//backend/user/avatar/modify.html" method="POST">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="<%= userInfo.photo%>" alt="user avatar" class="thumbnail" width="150" height="150" />
                                <p class="text-danger"><%= errorTips %></p>
                            </div>
                            <div class="col-sm-9">
                                <input type="file" name="photo" id="photo" style="display:none"
                                    onChange="document.avatarForm.path.value=this.value" />
                                <input type="hidden" name="username" value="<%= username %>" />
                                <div class="input-group">
                                    <input type="text" class="form-control" name="path" placeholder="photo path"
                                        readonly>
                                    <div class="input-group-addon" onclick="document.avatarForm.photo.click()"
                                        style="background-color:#337ab7; color:white; cursor: pointer;">
                                        <span class="glyphicon glyphicon-folder-open"></span>
                                    </div>
                                </div>
                                <div class="input-group" style="margin-top: 5ex;">
                                    <button type="submit" class="btn btn-primary">
                                        Modify
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ../common/commonjs.ejs %>
<%- include ../common/footer.ejs %>